* {
    box-sizing: border-box;
}

body{
    background-color: #1C1C1C;
    margin: 0;
}

.main{
    background-color:#D1FAE5;
    width: 95vw;
    margin:5% auto;
    min-height: 90vh;
    padding: 20% 5%;
    border: 4px solid #FFFFFF;
    border-radius: 6px;
}

h1{
    font-family: 'Karla', sans-serif;
    margin: 0;
    font-size: 10vw;
}

.curve{
    border-radius: 6px;
}
.first-h1{
    color:#2B283A ;
}

.second-h1{
    color: #10B981;
}

button, .password{
    width: 50vw;
    padding: 2% 5%;
    border: none;
    font-size: 4vw;
    cursor: pointer;
}

p{
    color: #6B7280;
    font-family: 'Inter', sans-serif; 
    font-weight: 400;
    font-size: 4vw;  
}

.generator-btn{
    background-color: #10B981;
    color: #FFFFFF;
}

.grayline{
    border-bottom: 3px solid #D5D4D8;
    margin: 5vh 0;
}

.password-cont{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.password{
    width: 90%;
    height: 100%;
    background-color: #273549;
    color: #5DEF92;
    margin: 1%;
    display: inline-block;
    text-align: center;
}